.column {
    float: left;
    width: 100%;
    flex: 50%;
    margin: 30px 20px 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    width: 100%;
    font-size: 20px;

}

.left-side {
    text-align: left

}

.right-side {
    text-align: right;
    font-family: Campton-Lights, Arial, sans-serif;
}

.instructions {
    color: #D1D1D1;
    margin-top: 30px;
    font-size: 16px;
}

.clock-icon {
    color: #B2FF00;
    margin-right: 5px;
}

.score {
    color: #3C0078;
}